.banner-bg{
  background-color: $light-grey;
  padding: 1em;
  padding-bottom: 50px;
  text-align: center;
}
.container .mdl-grid{
  max-width: 1000px;
}

// Find a better way to set the body background instead of the below
main{
  background-color: #fafafa;
}
