.question_card{
  h1 {
    font-size: 1.2em;
  }
  &.thumb{
    cursor: pointer;
    h1 {
      font-size: 1em;
    }
  }
  img{
    max-width: 100%;
    display: block;
  }
}

.questions_list_action{
  height: 60px;
  line-height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  text-align: right;
  left: 0;
}

.questions_list_display{
  margin-bottom: 60px;
}

.question_source{
  font-size: 0.8em;
  text-align: right;
}
