.question_card{
  h1 {
    font-size: 1.2em;
  }
  &.thumb{
    cursor: pointer;
    h1 {
      font-size: 1em;
    }
  }
  img{
    max-width: 100%;
    display: block;
  }
}

.questions_list_action{
  height: 60px;
  line-height: 60px;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  text-align: right;
  left: 0;
}

.questions_list_display{
  margin-bottom: 60px;
}

.question_source{
  font-size: 0.8em;
  text-align: right;
}

.question_radio_span{
  height: inherit;
}

.question_loader_div{
    position:fixed;
    width: calc(100% - 240px);
    height:100%;
    z-index: 100;
    background-color: rgba(256, 256, 256, 0.7);
}

.question_loader{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translateY(-50%);
}

.question_selected_button{
    position :fixed;
    display: block;
    right : 30px;
    top: 180px;
    z-index: 800;
    overflow: visible;
}

.question_selected_button::after{
    color:white;
}

.question_dialog{
    position: fixed;
    top: calc(50% - 140px);
}

.new-list-header {
    position: relative;
    width: 100%;
    font-size: 36px;
    color: inherit;
    padding: 16px 16px 16px 60px;
    border: none;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}

.search-input {
    position: relative;
    width: 100%;
    font-size: 18px;
    color: inherit;
    padding: 16px 16px 16px 60px;
    border: 1px solid;
    box-shadow: inset 0 -2px 1px rgba(0,0,0,0.03);
}
